.git
.gitignore
.pytest_cache
.gemini
.agents/
docs/
pjt_wiki/
scripts/
192.168.35.205/
backups/
data/
logs/
migration_pjt/
migration_skills/
graphify-out/
**/*.pyc
**/__pycache__
**/.venv
**/node_modules
*.md
